/* Layout */

#navigation {
    border: 5px inset #94A9BF;
    font: verdana;
    width: 200px;
    float: left;
}


#content {
    border: 2px solid #91BFB4;
    margin-left: 220px;
    width: 75%;
    background: #D1FFF4;
}

#container {
    overflow: auto;
    max-width: 960px;
    margin: 0 auto;
}

#top {
    background: #38A68A;
}


/* Typografi */

/* Färger

Content border: #91BFB4
Navigation border: #94A9BF
Background top: #38A68A
Main background: #D1FFF4
*/