/* Layout */

#navigation {
    border: 5px inset rgba(191, 178, 129, 0.7);
    width: 200px;
    float: left;
    text-align: center
}

#meny {
    border: 1px solid black;
    border-bottom: none;
    width: 200px;
    margin: 0;
    padding: 0;
}

#headOne {
    background-image: url(pics/HelloBro2.png);
    background-repeat: no-repeat;
    padding-left: 65px;
    padding-top: 15px;
    padding-bottom: 15px;
}



.blogPost {
    background-image: url(pics/blogPost2.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}


#aTaggA {
    display: block;
    padding: 10px;
    background-color: rgba(166, 141, 47, 0.6);
    color: #776EB1;
    text-align: left;
    font-family: "Verdana", "Arial", fantasy;
}

#aTaggA:hover {
    display: block;
    padding: 10px;
    background-color: rgba(191, 178, 129, 0.7);
    color: red;
}

#aTaggB {
    display: block;
    padding: 10px;
    background-color: rgba(166, 141, 47, 0.6);
    color: #776EB1;
    text-align: left;
    font-family: "Verdana", "Arial", fantasy;
}

#selfie {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#aTaggB:hover {
    display: block;
    padding: 10px;
    background-color: rgba(191, 178, 129, 0.7);
    color: red;
}

#aTaggC {
    display: block;
    padding: 10px;
    background-color: rgba(166, 141, 47, 0.6);
    color: #776EB1;
    text-align: left;
    font-family: "Verdana", "Arial", fantasy;
}

#aTaggC:hover {
    display: block;
    padding: 10px;
    background-color: rgba(191, 178, 129, 0.7);
    color: red;
}

#aTaggD {
    display: block;
    padding: 10px;
    background-color: rgba(166, 141, 47, 0.6);
    color: #776EB1;
    text-align: left;
    font-family: "Verdana", "Arial", fantasy;
}

#aTaggD:hover {
    display: block;
    padding: 10px;
    background-color: rgba(191, 178, 129, 0.7);
    color: red;
}

.lista {
    list-style-type: none;
    border-bottom: 1px solid black;
}

.active {
    display: block;
    padding: 10px;
    background-color: rgba(191, 178, 129, 0.7);
    color: #776EB1;
    text-align: left;
    font-family: "Verdana", "Arial", fantasy;
}



#box {
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-left: 4px;
    
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 4px;
}

#content {
    border: 2px solid rgba(191, 178, 129, 0.8);
    margin-left: 220px;
    width: 75%;
    background: rgba(255, 232, 144, 0.4);
    padding: 5px;
}

#container {
    overflow: auto;
    max-width: 960px;
    margin: 0 auto;
}

#top {
    background: rgba(191, 178, 129, 0.5);
}


/* Typografi */

h1 {
    font-family: "Verdana", "Arial", fantasy;
}

h2 {
    font-family: "Verdana", "Arial", fantasy;
}

h3 {
    font-family: "Verdana", "Arial", fantasy;
}

h4 {
    font-family: "Verdana", "Arial", fantasy;
}

p {
    font-family: "Calibri", "Arial", fantasy;
}

ul {
    font-family: "Calibri", "Arial", fantasy;
}

ol {
    font-family: "Calibri", "Arial", fantasy;
}

dl {
    font-family: "Calibri", "Arial", fantasy;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:link { color: blue; }
a:visited { color: red; }
a:hover { color: green; }

/* Färger

border/navi: 2px solid rgba(191, 178, 129, 0.8);
background: rgba(255, 232, 144, 0.4);
*/